body {
  background: #0F0F0F;
  color: #F0F0F0;
}

.my-header {
  text-align: center;
}

.my-content {
  width: 400px;
  max-width: 25%;
  position: relative;
  display: block;
  margin: auto;
  background: #333;
  padding: 2px 10px;
  border-radius: 4px;
}